<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/langexchange/index.json" />
    </packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="thuongnguyen1508" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>